{% extends 'basic-login.html' %} {% block form-section %}


<form class="flex-form" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <p class="login-msg">
    New User?
    <a class="login-link" href="{% url 'register' %}">Sign up</a>
  </p>
  <p class="heading">Login your account</p>
  <p class="msg">Enter the field below to get started</p>
  <label for="email">Email*</label>
  <input type="email" id="email" name="email" required />

  <label for="password">Password*</label>
  <input type="password" id="password" name="password" required />
  <a
    class="login-msg login-link"
    style="font-weight: 400"
    href="{% url 'resetemail' %}"
    >Forgot password?</a
  >
  <button type="submit">Log in</button>
</form>

{% endblock %}
